html {
 font-size: 10px;
 font-family: sans-serif;
 background-color: cornflowerblue;
}
p {
 font-size: 2.3rem;
 padding-left: 15px;
 text-shadow: 0 0 0.2em cornflowerblue, 0 0 0.2em cornflowerblue, 0 0 0.2em cornflowerblue;
 line-height: 1.5;
}
.main-div{
  background-color: cornflowerblue;
}
h1 {
 text-align: center;
 font-family: 'Bangers', cursive;
 text-shadow: -3px -3px 0 #000, 3px -3px #000, -3px 3px 0 #000, 3px 3px 0 #000;
 font-weight: 100;
 font-size: 15rem;
 margin: 0rem 0;
 letter-spacing: -1px;
 text-decoration: none;
}
h1 a {
 color: white;
 text-decoration: none;
}
h1 a:focus {
 outline: 0;
}
@font-face {
  font-family: 'Monoton', cursive;
 font-family: 'Bangers', cursive;
 src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot");
 src: url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.eot?#iefix") format('embedded-opentype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.woff") format('woff'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.ttf") format('truetype'), url("https://cdn.rawgit.com/milktronics/beaglegr.am/master/public/fonts/billabong-webfont.svg#billabongregular") format('svg');
 font-weight: normal;
 font-style: normal;
}
body {
 background: whitesmoke;
}
.photoGrid {
 display: flex;
 flex-wrap: wrap;
 max-width: 85%;
 margin: 0 auto;
}
.figure {
 flex-basis: calc(33.333% - 9rem);
 border: 2px solid whitesmoke;
 border-radius: 10px;
 padding: 2rem;
 background-color: white;
 box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);

 flex-grow: 1;
 margin: 0 2rem 2rem 2rem;
}
.figure .single-photo {
 flex-basis: calc(33.333% - 4rem);
 flex-grow: 1;
 flex-shrink: 0;
 margin: 0 2rem 2rem 2rem;
 padding: 2rem;
 border: 1px solid #d3d3d3;
 background: #fff;
 position: relative;
}
.single-photo {
 max-width: 80%;
 padding-top: 30px;
 margin: 0 auto;
 display: flex;
 background: ;
 border: black;
}
.single-photo .figure {
 box-shadow: none;
 margin: 0 2rem 0 0;
 border: solid 5px whitesmoke;
 padding-top: 20px;
 flex: 1 0 60%;
 max-width: 60%;
 box-shadow: 0 8px 34px 4px rgba(0,0,0,.5);
}
.single-photo .comments {
 flex: 1 0 40%;
 max-width: 40%;
}
.single-photo .photo {
}
.photo {
 width: calc(100% + 4rem);
 margin-left: -2rem;
 margin-top: -2rem;
 max-width: none;
 border-radius: 7px;
}
.comment-header{
  font-size: 20px;
text-align: center;
margin-right: 20px;
text-shadow: 0 0 0.2em cornflowerblue, 0 0 0.2em cornflowerblue, 0 0 0.2em cornflowerblue;
}
.comment{
 width: 100%;
 background-color: rgba(126, 126, 126, 0.5);
 margin: 0px 0px 0px 31px;
 border-radius: 7px;
 box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
}
.comment p {
  background-color: whitesmoke;
  width: 95%;
  border-radius: 5px;
  border-bottom: 1px solid #d3d3d3;
  padding: 0.5rem;
  margin-left: 5px;
}
.comment-form input,
.comment-form textarea {
  width: 94%;
  border: 2px solid rgb(0, 0, 0);
  font-size: 1.5rem;
  padding: 1.7rem 5px;
  outline: none;
  border-radius: 7px;
  resize: vertical;
  margin-left: 6px;
}
.addIcon {
 background: url("https://image.flaticon.com/icons/svg/60/60740.svg") center no-repeat;
 background-size: contain;
 padding: 40px;
 display: table;
 margin-bottom: -35px;
 margin-left: 26px;
 border: none;
 background-color: white;
border-radius: 50%;
}
.button-container {
 margin: 20px auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
button, .button {
 border: 2px solid rgb(193, 193, 193);
 background: none;
 flex-basis: 48%;
 display: inline-block;
 line-height: 2;
 text-decoration: none;
 padding: 5px;
 text-align: center;
 font-size: 15px;
 color: red;
 transition: all 0.2s;
 box-sizing: padding-box;
 border-radius: 7px;

}
button:hover,.button:hover, button:focus, .button:focus {
 border-color: #00f;
 outline: 0;
}
.speech-bubble {
 background: url("https://d30y9cdsu7xlg0.cloudfront.net/png/51904-200.png") center no-repeat;
 background-size: contain;
 padding: 10px;
 margin: 5px;
 display: inline-block;
 border: none;
 position: relative;
}
.comment-count {
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
 color: black
}
.form {
 width: 490px;
 padding: 0 0 0;
 margin: auto;
 margin-top: 4%;
 background-color: rgba(193, 193, 193, 0.5);
 box-shadow: 0 8px 34px 4px rgba(0,0,0,.4);
 padding: 35px;
}

.form input {
 font-family: sans-serif;
 outline: 0;
 background: #f2f2f2;
 width: 100%;
 border: 2px solid rgb(193, 193, 193);
 border-radius: 7px;
 margin: 0 0 35px;
 padding: 15px;
 box-sizing: border-box;
 font-size: 14px;
 }
.form button {
 font-family: "Roboto", sans-serif;
 text-transform: uppercase;
 outline: 0;
 background:#065784;
 width: 100%;
 margin-top: 4%;
 border: 0;
 padding: 15px;
 color: #FFFFFF;
 font-size: 14px;
 -webkit-transition: all 0.3 ease;
 transition: all 0.3 ease;
 cursor: pointer;
 }
 .form button:hover,.form button:active,.form button:focus {
 background: #7B8589;
}
.loader {
 height: 20%;
 width: 100%;
 display: flex;
 position: fixed;
 align-items: center;
 justify-content: center;
 font-size: 28pt;
}
